:root {
    --bg-color: #f6f9fc;
    --typewriterSpeed: 1s;
    --typewriterCharacters: 5;
  }



*{
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #f6f9fc;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
}

h1{
    font-size: 25px;
    color: #333333;
}

.display{
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid black
}


.flex{
    height: 50px;
    font-size: 20px;
    width: 65%;
    color: #333333;
}



.fade-in{
    animation: slide-in 2s infinite;
    animation-delay: 2s;
}



.fade-out{
    transition: 0.5s ease;
    opacity: 0;
   


}

.cta{
   margin-top: 40px;
    display: flex;
    gap: 20px;
}

.btn {
    border: 2px solid #333333;
    padding: 10px 20px;
    background-color: transparent;
   
}
/* comment */


.animated-stack{
    position: absolute;
    margin-left: 8px; 
    color: #0082FA;
    font-weight: 600;
}

.stack-content::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.stack-content::after{

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.stack-content::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
     infinite alternate;
     animation-delay: 2s;
    
  }
  
.stack-content::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed)
        infinite alternate,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
 
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  
  
  
  
  





.navigation{
    width: 100%;
    position: fixed;
    display: flex;
    bottom: 0;
}

.nav-item{
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 5px;
   
   
    
}

.nav-item p {
    color:#333333
}

.nav-bar {
    position: absolute;
    left: 0;
    top:0px;
    height: 4px;
    width: 90px;
    background-color: #0082FA;
    transition: transform 0.3s ease;
}

.icon{
    transition: color 0.5s ease;

    color:#555555;



}

/* .icon:active{
    color: black;
} */



/********************* Game *************************/












@keyframes slide-in {
    0%{
        transform: translateY(50%);
        opacity: 0;
    }

    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}


@media only screen and (min-width: 600px) {
    .flex {
        width: 700px;
        font-size: 22px;
    }

    /* .nav-bar{
        width: 280px;
    } */

    .cta{
        margin-top: 10px;
    }

    h1{
        font-size: 35px;
    }
    
  }




  
  

  



